.email_container {
    width: max-content;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--color-secondary);
    border-radius: 8px;
    background: var(--color-secondary);
    border: 1px solid var(--color-border);
    margin: 20px auto;
}

.email {
    color: var(--color-text-primary);
    font-size: 16px;
    margin-left: 10px;
    margin-right: 10px;
}

.actions_container {
    width: max-content;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: var(--color-actions);
    border-radius: 0px 10px 10px 0px;
}

.actions_divider {
    width: 1.2px;
    height: 90%;
    background: var(--color-actions-divider);
    border-radius: 5px;
}

.copy_icon, .send_icon {
    width: 23px;
    height: 23px;
    margin-left: 8px;
    margin-right: 8px;
    cursor: pointer;
}

@media screen and (max-width: 750px) {
    .email {
        font-size: 15px;
        margin-left: 8px;
        margin-right: 8px;
    }

    .copy_icon, .send_icon {
        width: 20px;
        height: 20px;
    }
}