.experience_section {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.exp_header_container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.exp_title {
    color: var(--color-complementary);
    font-size: 25px;
    font-weight: bold;
    margin-left: 5px;
}

.exp_cards_container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}