@import url("./colors.css");

.nav_item_container {
    width: 90%;
    height: 35px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    margin-top: 10px;
}


.item_icon {
    width: 23px;
    height: 23px;
    margin-left: 10px;
}

.item_label {
    color: var(--color-text-primary);
    font-size: 14px;
    margin-left: 5px;
}

.nav_item_container:hover {
    background: var(--color-nav-item-hover);
    border: 1px solid var(--color-nav-item-border);
    cursor: pointer;
}

@media screen and (max-width: 1100px) {
    .nav_item_container {
        width: 150px;
        height: max-content;
        flex-direction: column;
    }

    .nav_selection_indicator {
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
    }

    .nav_selection_indicator:hover {
        background: var(--color-nav-item-hover);    
    }

    .item_icon {
        margin: 0px;
    }

    .item_label {
        margin: 0px;
        margin-top: 5px;
        font-size: 12px;
    }

    .nav_item_container:hover {
        background: none;
        border: none;
        cursor: none;
    }

}