.section_header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.section_title {
    color: var(--color-complementary);
    font-size: 25px;
    font-weight: bold;
    margin-left: 5px;
}

@media screen and (max-width: 750px) {
    .section_title {
        font-size: 20px;
    }
}