.skill_card {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: var(--color-secondary);
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-top: 10px;
}

.skill_icon {
    width: 35px;
    height: 35px;
}

.skill_title {
    color: var(--color-text-primary);
    font-size: 14px;
    text-align: center;
    margin-top: 5px;
}

@media screen and (max-width: 750px) {

    .skill_card {
        width: 80px;
        height: 80px;
    }

    .skill_icon {
        width: 30px;
        height: 30px;
    }

    .skill_title {
        font-size: 12px;
    }
}