---
import "../styles/contact.css"
import SectionHeader from "./SectionHeader.astro"
---

<section class="contact_section" id="contact_section_id">
    <SectionHeader icon_path="/images/ic_contact_s.svg" title="Contact"/>

    <div class="contact_container">
        <div class="banner_container">
            <img src="/images/banner_contact.png" class="contact_banner"/>
            <div class="banner_items_container">
                <div class="status_container">
                    <div class="status"></div>
                    <p class="status_label">Available</p>
                </div>
                <div class="contact_info_container">
                    <div class="contact_logo_container">
                        <img src="/images/ic_dr10.svg" class="contact_logo"/>
                    </div>
                    <p class="contact_me">Contact Me</p>
                    <p class="contact_description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam, magni!</p>
                </div>
            </div>
        </div>
        <div class="contact_form_container">
            <div class="name_and_email_container">
                <div class="name_form_container">
                    <p class="contact_label">Name</p>
                    <input type="text" class="name_input" placeholder="Dr10">
                </div>
                <div class="name_form_container">
                    <p class="contact_label">Email</p>
                    <input type="text" class="name_input" placeholder="dr10@gmail.com">
                </div>
            </div>

            <p class="message_label">Message</p>
            <textarea class="message_input" placeholder="..."/>

            <button class="send_button">Send Message</button>

        </div>
    </div>
</section>