---
import "../styles/contact.css"
import SectionHeader from "./SectionHeader.astro"
---

<section class="contact_section" id="contact_section_id">
    <SectionHeader icon_path="/images/ic_contact_s.svg" title="Contact"/>

    <div class="contact_container">
        <div class="banner_container">
            <img src="/images/banner_contact.png" class="contact_banner"/>
            <div class="banner_items_container">
                <div class="status_container">
                    <div class="status"></div>
                    <p class="status_label">Available</p>
                </div>
                <div class="contact_info_container">
                    <div class="contact_logo_container">
                        <img src="/images/ic_dr10.svg" class="contact_logo"/>
                    </div>
                    <p class="contact_me">Contact Me</p>
                    <p class="contact_description">I am eager to collaborate on projects that make a difference! 🚀</p>
                </div>
            </div>
        </div>
        <form class="contact_form_container" id="contact_form" method="post" action="https://formspree.io/f/mqazvpvq">
            <div class="name_and_email_container">
                <div class="name_form_container">
                    <p class="contact_label">Name</p>
                    <input type="text" class="name_input" id="name_input" placeholder="Dr10">
                </div>
                <div class="name_form_container">
                    <p class="contact_label">Email</p>
                    <input type="email" class="name_input" id="email_input" placeholder="example@gmail.com">
                </div>
            </div>

            <p class="message_label">Message</p>
            <textarea class="message_input" id="message_input" placeholder="Hey there!"/>

            <button class="send_button">Send Message</button>

        </form>
    </div>
</section>
<script src="../scripts/Contact.ts"></script>