---
import "../styles/download_cv.css"
---

<a class="download_button" href="/resume.pdf" download>
    <p class="button_title">Download CV</p>
    <div class="icon_button_container">
        <img src="/images/ic_download.svg" class="icon_button"/>
    </div>
</a>