---
import "../styles/download_cv.css"
---

<div class="download_button">
    <p class="button_title">Download CV</p>
    <div class="icon_button_container">
        <img src="/images/ic_download.svg" class="icon_button"/>
    </div>
</div>