---
import "../styles/email_actions.css"
---

<div class="email_container">
    <p class="email">cariasdaniel261@gmail.com</p>

    <div class="actions_container">
        <img src="/images/ic_copy.svg" class="copy_icon" id="copy_email"/> 
        <div class="actions_divider"></div>
        <img src="/images/ic_send.svg" class="send_icon" id="to_send_email"/>
    </div>

</div>
<script src="../scripts/EmailActions.ts"></script>