---
import "../styles/email_actions.css"
---

<div class="email_container">
    <p class="email">cariasdaniel261@gmail.com</p>

    <div class="actions_container">
        <img src="/images/ic_copy.svg" class="copy_icon"/>
        <div class="actions_divider"></div>
        <img src="/images/ic_send.svg" class="send_icon"/>
    </div>

</div>