---
import "../styles/experience_card.css"
import CardTech from "./CardTech.astro"
---

<div class="experience_card">
    <div class="header_card">
        <img src="/images/skyOne.webp" class="company_icon"/>
        <div class="name_time_container">
            <p class="company_name">SkyOne Group</p>
            <p class="time_in_company">Jun 2021 - Sep 2022</p>
        </div>
    </div>
    
    <p class="card_sub_title">Description</p>
    <p class="sub_title_description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id aliquid facilis sapiente laborum inventore nesciunt cupiditate ab deserunt reprehenderit assumenda.</p>

    <p class="card_sub_title">Goals</p>
    <p class="sub_title_description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id aliquid facilis sapiente laborum inventore nesciunt cupiditate ab deserunt reprehenderit assumenda.</p>

    <p class="card_sub_title">Technologies used</p>

    <div class="tech_used_container">
        <CardTech iconPath="/images/ic_css.svg" label="HTML"/>
        <CardTech iconPath="/images/ic_css.svg" label="CSS"/>
        <CardTech iconPath="/images/ic_java.svg" label="JS"/>
        <CardTech iconPath="/images/ic_java.svg" label="Java"/>
    </div>

</div>