---
interface TechnologiesUsed {
    iconPath: string,
    name: string
}

interface Experience {
    companyLogoPath: string,
    role: string,
    companyName: string,
    date: string,
    descriptions: string[],
    technologiesUsed: TechnologiesUsed[]
}

interface Props {
    experience: Experience
}

const { experience } = Astro.props;

import "../styles/experience_card.css"
---

<div class="experience_card">
    <div class="header_card">
        <div class="company_logo_container">
            <img src={ experience.companyLogoPath } class="company_logo">
        </div>
        <div class="title_time_container">
            <p class="company_role">{ experience.role }</p>
            <p class="company_name">{ experience.companyName }</p>
            <p class="time_in_company">{ experience.date }</p>
        </div>
    </div>

    <ul class="role_description">
        {
            experience.descriptions.map( description => (
                <li>{ description }</li>
            ) )
        }
    </ul>

    <div class="tech_used_container">
        {
            experience.technologiesUsed.map(tech => (
                <div class="tech_tag">
                    <img src={ tech.iconPath } class="tech_icon">
                    <p class="tech_name">{ tech.name }</p>
                </div>
            ))
        }
        
    </div>

</div>