---
import "../styles/experience.css"
import ExperienceCard from "./ExperienceCard.astro"
---

<section class="experience_section">
    <div class="exp_header_container">
        <img class="exp_icon" src="/images/ic_experience_section.svg"/>
        <p class="exp_title">Experience</p>
    </div>
    
    <div class="exp_cards_container">
        <ExperienceCard/>
        <ExperienceCard/>
    </div>
    <div class="exp_cards_container">
        <ExperienceCard/>
        <ExperienceCard/>
    </div>
</section>