---
interface TechnologiesUsed {
    iconPath: string,
    name: string
}

interface Experience {
    companyLogoPath: string,
    title: string,
    date: string,
    description: string,
    technologiesUsed: TechnologiesUsed[]
}

interface Props {
    experience: Experience
}

const { experience } = Astro.props;

import "../styles/experience_card.css"
import CardTech from "./CardTech.astro"
---

<div class="experience_card">
    <div class="header_card">
        <img src={ experience.companyLogoPath } class="company_logo"/>
        <div class="title_time_container">
            <p class="title">{ experience.title }</p>
            <p class="time_in_company">{ experience.date }</p>
        </div>
    </div>
    
    <p class="card_sub_title">Description</p>
    <p class="sub_title_description">{ experience.description }</p>

    <p class="card_sub_title">Technologies used</p>

    <div class="tech_used_container">
        {
            experience.technologiesUsed.map(tech => (
                <CardTech iconPath={tech.iconPath} label={tech.name} />
            ))
        }
    </div>

</div>