---
import "../styles/main.css"
import AboutMe from "./AboutMe.astro"
import Experience from "./Experience.astro"
import Skillsets from "./Skills.astro"
---

<main>
    <img src="/images/banner.png" class="banner"/>

    <div class="main_container">

        <AboutMe/>

        <div class="section_divider"></div>

        <Skillsets/>

        <div class="section_divider"></div>

        <Experience/>

    </div>

</main>