---
import "../styles/main.css"
import AboutMe from "./AboutMe.astro"
---

<main>
    <img src="/images/banner.png" class="banner"/>

    <div class="main_container">

        <AboutMe/>

        <div class="section_divider"></div>

        <section class="big_space"></section>
    </div>

</main>