---
import "../styles/main.css"
import AboutMe from "./AboutMe.astro"
import Contact from "./Contact.astro"
import Experience from "./Experience.astro"
import Projects from "./Projects.astro"
import Skillsets from "./Skills.astro"
---

<main>
    <img src="/images/banner.png" class="banner" id="about_me_section_start"/>

    <div class="main_container">

        <AboutMe/>

        <div class="section_divider"></div>

        <Experience/>

        <div class="section_divider"></div>

        <Skillsets/>

        <div class="section_divider"></div>

        <Projects/>

        <div class="section_divider"></div>

        <Contact/>

    </div>

</main>