---
interface Props {
    iconPath: string,
    label: string
}

const {iconPath, label} = Astro.props;

import "../styles/nav_rail_item.css"
---

<div class="nav_item_container">
    <div class="nav_selection_indicator">
        <img src={iconPath} class="item_icon"/>
    </div>
    <p class="item_label">{label}</p>
</div>