---
import "../styles/projects.css"
import Project from "./ProjectCard.astro"
import SectionHeader from "./SectionHeader.astro"
import ProjectsData from "../data/Projects.json"
---

<section class="projects_section" id="projects_section_id">
    <SectionHeader icon_path="/images/ic_projects_s.svg" title="Projects"/>

    <div class="projects_container">
        {
            ProjectsData.map((projectData) => (
                <Project project={projectData}/>
            ))
        }
    </div>

</section>