---
import "../styles/projects.css"
import Project from "./Project.astro"
---

<section class="projects_section">
    <div class="projects_header_container">
        <img src="/images/ic_projects_section.svg" class="projects_icon"/>
        <p class="projects_title">Projects</p>
    </div>

    <div class="projects_container">
        <Project/>
        <Project/>
        <Project/>
        <Project/>
    </div>

</section>