---
interface Props {
    skillTitle: string,
    skillIcon: string
}

const {skillTitle, skillIcon} = Astro.props as Props;

import "../styles/skill_card.css"
---

<div class="skill_card">
    <img src={skillIcon} class="skill_icon"/>
    <p class="skill_title">{skillTitle}</p>
</div>