---
interface Props {
    iconPath: string,
    label: string
}

const {iconPath, label} = Astro.props;

import "../styles/tech_card.css"
---

<div class="tech_card">
    <img src={iconPath} class="tech_icon"/>
    <p class="tech_name">{label}</p>
</div>