---
import "../styles/theme_toggle_mobile.css"
---

<div class="theme_mode_container_mobile">
    <input type="checkbox" id="theme_toggle" class="theme_toggle">
    <label for="theme_toggle" class="theme_label">
        <img src="/images/ic_dark_mode.svg" class="d_mode_icon"/>
        <img src="/images/ic_light_mode.svg" class="light_mode_icon"/>
    </label>
</div>      