---
import "../styles/theme_mode_item.css"
---

<div class="theme_mode_container">
    <img src="/images/ic_dark_mode.svg" class="dark_mode_icon"/>
    <p class="item_label">Dark Mode</p>
    <label class="switch">
        <input type="checkbox">
        <span class="slider round"></span>
    </label>
</div>