---
import "../styles/top_bar.css"
import ThemeModeMobile from "./ThemeModeMobile.astro"
---

<div class="top_bar">
    <img src="/images/ic_dr10.svg" class="top_bar_icon"/>
    <ThemeModeMobile/>
</div>